
$barra-color: rgb(56, 56, 56);
$sombra-color: rgb(255, 227, 70);
$boton-color: rgb(255, 150, 0);
$boton-color-hover: rgb(255, 194, 108);

$fuente-principal: 2em;
$fuente-subtitulo: 1.5em;
$fuente-moneda: 1em;